*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.behruz-1{
   display: flex;
   justify-content: space-around;
}

.img{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.img-1{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.behruz-3{
    width: 100%;
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.beh3-left{
    color: white;
   
}

a{
    text-decoration: none;
color: white;
}

.beh-a1{
   
}